@model IEnumerable<LittleJohnsHut.Web.Models.WebUser>

<p>
   
   
  
</p>
<table class="table" style="background-color: white;  border-radius:25px">
    <thead>
        <tr>
            <th >
                <p style="color:black"> @Html.DisplayNameFor(model => model.UserName) </p>
            </th>
            <th>
                <p style="color:black">   @Html.DisplayNameFor(model => model.FirstName) </p>
            </th>
                
            <th>
                <p style="color:black">  @Html.DisplayNameFor(model => model.LastName) </p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <p style="color:black"> @Html.DisplayFor(modelItem => item.UserName) </p>
            </td>
            <td>
                <p style="color:black">  @Html.DisplayFor(modelItem => item.FirstName) </p>
            </td>

            <td>
                <p style="color:black">  @Html.DisplayFor(modelItem => item.LastName) </p>
            </td>
            <td>
                <button class="btn btn-group"> @Html.ActionLink("Edit", "Edit", new { id = item.Id }) </button>
                <button class="btn btn-group">  @Html.ActionLink("Order", "Order", new { Controller = "Order", action = "Order", UserId = item.Id, locationId = item.locationid }) </button>

            </td>
        </tr>
}
        @ViewBag.Id2

        
    </tbody>
</table>
