@model IEnumerable<LittleJohnsHut.Web.Models.WebLocation>

<p>
   
</p>
<table class="table" style="background-color:white; border-radius:25px">
    <thead>
        <tr>
               
                <th>
                    <p style="color:black">  @Html.DisplayNameFor(model => model.AdressLine1) </p>
                </th>
                <th>
                    <p style="color:black"> @Html.DisplayNameFor(model => model.AdressLine2) </p>
                </th>
                <th>
                    <p style="color:black">  @Html.DisplayNameFor(model => model.ZipCode) </p>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                <p style="color:black"> @Html.DisplayFor(modelItem => item.AdressLine1) </p>
            </td>
            <td>
               <p style="color:black"> @Html.DisplayFor(modelItem => item.AdressLine2) </p> 
            </td>
            <td>
                <p style="color:black"> @Html.DisplayFor(modelItem => item.ZipCode) </p>
            </td>
            <td>
               
             <button type ="button" class="btn btn-default">   @Html.ActionLink("Details", "Order", new { id = item.Id }) </button>
              
            </td>
        </tr>
}
    </tbody>
</table>
